@import "../../../styles/variables";
@import "../../../styles/typograhpy";

.container {
  padding-top: 2.125rem;
  max-width: 33.75rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 8rem;

  .buttonWrapper {
    margin-bottom: 55px;

    .backButton {
      margin-left: 15px;
    }

    @media screen and (min-width: 769px) {
      margin-bottom: 68px;
    }
  }
  .feedbackIcon {
    position: absolute;
    top: -1.75rem;
  }
  .formContainer {
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .error {
    position: absolute;
    left: 0;
    bottom: -21px;
  }

  .title,
  .subTitle {
    color: $moderate-dark-blue;
  }
  .description {
    @include bodyStyleThree;
    font-weight: 400;
    color: $desaturated-dark-blue;
    margin-bottom: 1rem;
    display: inline-block;
  }

  .footerBtnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;

    @media screen and (min-width: 769px) {
      justify-content: flex-end;
      flex-direction: row;
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 3.5rem;
  }
}
