@import "../../../styles/variables";
@import "../../../styles/typograhpy";

.title {
  color: $moderate-dark-blue;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterLimit {
  @include bodyStyleTwo;
  color: $desaturated-dark-blue;
}
