@import "../../styles/variables";

.button {
  border-radius: $border-radius;
  border: none;
  color: $very-pale-blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 18.79px;
  padding: 10.5px 16px;
  outline: none;
  text-transform: capitalize;
  &:disabled {
    pointer-events: none;
  }
  @media screen and (min-width: 769px) {
    font-size: 14px;
    line-height: 20.23px;
    padding: 12.5px 24px;
  }
}

// Primary Button
.primary {
  background: $violet;
  transition: background-color $transition-time $transition-function;

  &:hover {
    background: $light-violet;
  }
}

// Secondary Button
.secondary {
  background: $royal-blue;
  transition: background-color $transition-time $transition-function;

  &:hover {
    background: $light-royal-blue;
  }
}

// tertiary
.tertiary {
  background: $moderate-dark-blue;
  transition: background-color $transition-time $transition-function;

  &:hover {
    background: $desaturated-dark-blue;
  }
}

// danger
.danger {
  background: $red;
  transition: background-color $transition-time $transition-function;

  &:hover {
    background: $light-red;
  }
}

// destructive
.destructive {
  padding: 0;
  background: transparent;
  color: $desaturated-dark-blue;
  transition: background-color $transition-time $transition-function;

  &:hover {
    text-decoration: underline;
  }
}

// dark
.dark {
  background: $very-dark-blue;
  transition: background-color $transition-time $transition-function;

  &:hover {
    text-decoration: underline;
  }
}
