@import "../../styles/variables";

.mobileSideBar {
  background: $light-grayish-blue;
  height: 100vh;
  position: relative;
  // width: 80%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;

  @media screen and (min-width: 769px) {
    display: none;
  }
}
