@import "../../../styles/variables";
@import "../../../styles/typograhpy";

// user profile picture
.userImage {
  border-radius: 50%;
}

// user details
.name {
  color: $moderate-dark-blue;
}
.userName {
  color: $desaturated-dark-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
}

// buttons
.replyButton {
  @include bodyStyleThree;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $royal-blue;
  outline: none;
  position: relative;
  justify-self: flex-end;
  align-self: flex-start;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    opacity: 0;
    background: $royal-blue;
    transition: all $transition-time $transition-function;
  }

  &:hover::after {
    opacity: 1;
  }
}

.postButton {
  text-transform: capitalize;
}

// comment
.description {
  @include bodyStyleTwo;
  color: $desaturated-dark-blue;
  grid-column: 1/-1;

  @media screen and (min-width: 769px) {
    grid-column: 2/-1;
  }
}

// add comment input
.inputWrapper {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  margin-top: 1rem;

  @media screen and (min-width: 769px) {
    grid-template-columns: 3fr 1fr;
    grid-column: 2/-1;
    grid-column-gap: 1rem;
    align-items: flex-start;
    margin-top: 1.5rem;
  }
}

.replyingTo {
  @include bodyStyleTwo;
  color: $violet;
  font-weight: 700;
  margin-right: 4px;
}
