@import "../../styles/variables";
@import "../../styles/typograhpy";

.container {
  color: $white;
  background-image: url("/assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0rem 1.5rem;
  position: relative;
  height: 4.5rem;
  z-index: 3000;

  @media screen and (min-width: 769px) {
    background-image: url("/assets/suggestions/tablet/background-header.png");
  }

  @media screen and (min-width: 1001px) {
    background-image: url("/assets/suggestions/desktop/background-header.png");
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .title {
    display: block;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 21.68px;
    letter-spacing: -0.19px;

    @media screen and (min-width: 769px) {
      font-size: 1.25rem;
      line-height: 28.9px;
      letter-spacing: -0.25px;
    }
  }
  .subTitle {
    font-size: 0.8125rem;
    line-height: 18.79px;
    @media screen and (min-width: 769px) {
      @include bodyStyleTwo;
    }
  }
  .menuIcon {
    justify-self: end;
    cursor: pointer;

    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    max-width: 15.93rem;
    width: 100%;
    height: 100%;
    padding-top: 62px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: $border-radius;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 1000px) {
    height: 8.5625rem;
  }
}
