// colors
$royal-blue: #4661e6;
$light-royal-blue: #8397f8;
$soft-blue: #62bcfa;
$very-pale-blue: #f2f4ff;
$pale-grayish-blue: #cfd7ff;
$very-dark-blue: #373f68;
$light-grayish-blue: #f7f8fd;
$moderate-dark-blue: #3a4374;
$desaturated-dark-blue: #647196;
$soft-red: #f49f85;
$white: #ffffff;
$violet: #ad1fea;
$light-violet: #c75af6;
$red: #d73737;
$light-red: #e98888;
$black: #000000;
$light-grey: #8c92b3;

// border-radius
$border-radius: 10px;
$border-radius-sm: 5px;

// transitions
$transition-time: 0.3s;
$transition-function: ease-in-out;
