@import "../../styles/variables";

.pill {
  color: $royal-blue;
  cursor: pointer;
  border: none;
  background: $very-pale-blue;
  border-radius: $border-radius;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  padding: 0.375rem 1rem;
  text-transform: capitalize;
  outline: none;
  transition: all $transition-time $transition-function;

  &Active {
    color: $white;
    background: $royal-blue;
  }
  &:hover {
    background: $pale-grayish-blue;
  }
}
