@import "../../styles/variables";

.pill {
  color: $royal-blue;
  cursor: pointer;
  border: none;
  background: $very-pale-blue;
  border-radius: $border-radius;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  padding: 0.375rem 1rem;
  text-transform: capitalize;
  outline: none;
  transition: background-color $transition-time $transition-function;

  &Upper {
    text-transform: uppercase;
  }

  &Active {
    color: $white;
    background: $royal-blue;
  }
  &:hover:not(.pillActive) {
    background: $pale-grayish-blue;
  }
}
